/* MEDIA QUERY */


/*---------- XS -------------- XS --------------- XS --------------- XS ------------------- XS --------- */

@media(min-width: 320px) and (max-width: 767px) {

.forgotPassword h2{
    font-size: 23px;
}
.forgotPassword .form-wrapper{
    margin: 110px auto;
    min-width: auto;
    max-width: -webkit-fill-available;
    }  

.forgotPassword .form-label{
    top: 9px;
    font-size: 15px;
}
.forgotPassword .form-input {
    padding: 12px 14px 5px 0;
    } 

.forgotPassword .btn-primary {
    margin: auto;
    font-size: 18px;
    }
}


/* ----------------------------------------------------------------------------------------------*/

@media(min-width: 360px) and (max-width: 767px) {

}


/* ----------------------------------------------------------------------------------------------*/

@media(min-width: 375px) and (max-width: 767px) {}


/* ----------------------------------------------------------------------------------------------*/

@media(min-width: 411px) and (max-width: 767px) {
    .forgotPassword h2 {
        font-size: 24px;
    }

    .forgotPassword p{
        font-size: 19px;
    }

    .forgotPassword .form-label {
        top: 8px;
        font-size: 17px;
    }
}


/* ----------------------------------------------------------------------------------------------*/

@media(min-width: 414px) and (max-width: 767px) {}


/* ----------------------------------------------------------------------------------------------*/

@media(min-width: 568px) and (max-width: 767px) {
  .forgotPassword .form-wrapper {
        max-width: 80%;
    }
}


/* ------- SM ------------- SM ------------- SM ------------- SM ------------- SM ------------- SM ------ */

@media(min-width: 640px) and (max-width: 767px) {
    .forgotPassword .form-wrapper {
        max-width: 90%;
    }
}


/* ---------------------------------------------------------------------- */

@media(min-width: 667px) and (max-width: 767px) {
        .forgotPassword .form-wrapper{
           max-width: 100%;
        }
}


/* ---------------------------------------------------------------------- */

@media(min-width: 731px) and (max-width: 767px) {}


/* ---------------------------------------------------------------------- */

@media(min-width: 736px) and (max-width: 767px) {}


/* ----- MD --------- MD --------- MD --------- MD --------- MD --------- MD --------- MD --------- MD ----*/

@media(min-width: 768px) and (max-width: 991px) {
       .forgotPassword .form-wrapper{
            max-width: 65%;
            margin: 120px auto;
    padding: 70px 30px 50px 30px;

       }

       .forgotPassword h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .forgotPassword img {
        margin: 30px auto;
    }

    .forgotPassword p {
        margin: 0px 0 60px 0;
            font-size: 26px;
    }

    .forgotPassword .form-label{
        top: 1px;
        font-size: 24px;

    }

    .forgotPassword .focused .form-label{
            font-size: 22px;

    }
    .forgotPassword .form-group{
        margin-bottom: 45px;
    }
    .forgotPassword .btn-primary {
        padding: 6px 0;
        width: 80%;
        font-size: 24px;
    }


}


/* ---- LG ------- LG ------- LG ------- LG ------- LG ------- LG ------- LG ------- LG -------- LG ------- */

